<h3>Yeni Ürün Ekle</h3>

<form #productAddForm="ngForm" (ngSubmit)="add(productAddForm)">
    <div class="mb-3">
        <input type="text" placeholder="Ürün Adı" #productName="ngModel" [(ngModel)]="product.name" class="form-control"
            name="productName" id="productName" required />
        <div *ngIf="productName.invalid && productName.dirty" class="alert alert-danger">
            Ürün ismi gereklidir.
        </div>
    </div>
    <div class="mb-3">
        <input type="text" placeholder="Ürün Açıklaması" #productDescription="ngModel" [(ngModel)]="product.description"
            class="form-control" name="productDescription" id="productDescription" required />
        <div *ngIf="productDescription.invalid && productDescription.dirty" class="alert alert-danger">
            Ürün açıklaması gereklidir.
        </div>
    </div>
    <div class="mb-3">
        <input type="text" placeholder="Ürün Fotoğrafı" #productImageUrl="ngModel" [(ngModel)]="product.imageUrl"
            class="form-control" name="productImageUrl" id="productImageUrl" required />
        <div *ngIf="productImageUrl.invalid && productImageUrl.dirty" class="alert alert-danger">
            Ürün fotoğrafı gereklidir.
        </div>
    </div>
    <div class="mb-3">
        <input type="number" placeholder="Ürün Fiyatı" #productPrice="ngModel" [(ngModel)]="product.price"
            class="form-control" name="productPrice" id="productPrice" required />
        <div *ngIf="productPrice.invalid && productPrice.dirty" class="alert alert-danger">
            Ürün fiyatı gereklidir.
        </div>
    </div>
    <div class="mb-3">
        <select class="form-control" #categoryId="ngModel"  [(ngModel)]="product.categoryId" required
        id="productCategoryId" name="productCategoryId">
            <option *ngFor="let category of categories" [value]="category.id" >{{category.name}}</option>
        </select>
        <div *ngIf="categoryId.invalid && categoryId.touched" class="alert alert-danger">
            Ürün kategorisi gereklidir.
        </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="productAddForm.invalid">Kaydet</button>
</form>